<style type="text/css">
	.clear-both{
		clear: both;
	}

	.file-preview-container{
		clear: both;
	}

	.file-preview{
		width: 30%;
		height: auto;
		background: black;
		margin-top: 10px;
		padding: 5px;
		border-radius: 5px;
		float: left;
		margin: 5px;
	}

	.file-preview img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.field-errors-container{
		padding: 4px 4px 4px 25px;
		color: red;
		background: rgba(255, 0, 0, 0.05);
	}

	.field-errors-container p{
		padding: 0;
		margin: 0;
	}

	.nav-footer-btns-container{
		clear: both;
	}
</style>
<!-- <pre>{{ formGeneratorVm.src | json }}</pre> -->
<!-- <hr> -->
<!-- <pre>{{ formGeneratorVm.template | json }}</pre> -->
<!-- https://egghead.io/lessons/angularjs-directives-talking-to-controllers -->
<div ng-app="form-generator">
	<div ng-if="formGeneratorVm.formType == 'tabbed'" class="form-tabbed">
		<form ng-submit="formGeneratorVm.submit($event)" name="gen_ng_form" enctype="multipart/form-data" novalidate>
			<!-- Tab buttons -->
			<div class="form-nav text-center">
				<ul class="nav nav-pills nav-justified">
					<li ng-repeat="tab in formGeneratorVm.template"
						ng-class="{ active : ($index + 1) == formGeneratorVm.currentTabIndex }">
						<!-- <a data-toggle="pill"
							ng-href="#form-tab-content-{{ $index + 1 }}"
							ng-click="formGeneratorVm.changeCurrentTabIndex($event, $index)"> -->
						<a href="#" 
							ng-click="formGeneratorVm.changeCurrentTabIndex($event, $index)">
							Step {{ $index + 1 }}
						</a>
					</li>
				</ul>
			</div> <!-- /Tab buttons -->

			<div class="tab-content">
				<div ng-repeat="tabbedForm in formGeneratorVm.template"  id="form-tab-content-{{ $index + 1 }}"  class="tab-pane fade in" ng-class="{ active : ($index + 1) == formGeneratorVm.currentTabIndex }">

					<div ng-repeat="formControl in tabbedForm">
						
						<!-- If type is legend -->
						<div ng-if="formControl['type'] == 'legend'" ng-class="formControl.container_attributes['class']">
							<p ng-class="formControl['attributes']['class']">
								{{ formControl['label'] }}
								{{ formGeneratorVm.templateModel[formControl['model']] }}
							</p>
						</div><!-- /If type is legend -->

						<!-- If type is text -->
						<div ng-if="formControl['type'] == 'text' || formControl['type'] == 'number' || formControl['type'] == 'email' || formControl['type'] == 'date'" ng-class="formControl.container_attributes['class']"
						ng-if="formControl['is_shown']">
							<label for="{{formControl['model']}}">
								{{ formControl['label'] }}
							</label>
							<input type="{{formControl['type']}}" 
									name="{{formControl['model']}}"
									id="{{formControl['model']}}"
									ng-model="formGeneratorVm.templateModel[formControl['model']]"
									ng-class="formControl['attributes']['class']"
									placeholder="{{ formControl['label'] }}"
									input-attributes
									custom-attributes="formControl['attributes']">
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div><!-- /If type is text -->

						<!-- If type is select -->
						<div ng-if="formControl['type'] == 'select'" ng-class="formControl.container_attributes['class']">
							<label for="{{formControl['model']}}">
								{{ formControl['label'] }}
							</label>
							<select name="{{formControl['model']}}"
									id="{{formControl['model']}}"
									ng-model="formGeneratorVm.templateModel[formControl['model']]"
									ng-class="formControl['attributes']['class']"
									placeholder="{{ formControl['label'] }}"
									ng-options="option['value'] as option['label'] for option in formGeneratorVm.templateValues[formControl['model']]"
									input-attributes
									custom-attributes="formControl['attributes']">
							</select>
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div><!-- /If type is select -->

						<!-- If type is button -->
						<div ng-if="formControl['type'] == 'button'" ng-class="formControl.container_attributes['class']">
							<button name="{{formControl['model']}}"
									id="{{formControl['model']}}"
									ng-class="formControl['attributes']['class']"
									ng-bind="formControl['label']"
									type="{{ formControl['type'] }}"
									input-attributes
									custom-attributes="formControl['attributes']">
							</button>
						</div><!-- /If type is button -->

						<!-- If type is radio&other -->
						<div ng-if="formControl['type'] == 'radio&other'"
								ng-class="formControl.container_attributes['class']">
								<label for="">
									{{ formControl['label'] }}
								</label>
							<label ng-repeat="option in formGeneratorVm.templateValues[formControl['model']]"
									ng-class="formControl['attributes']['class']"
									input-attributes
									custom-attributes="formControl['attributes']">
								<input type="radio"
										name="{{ formControl['model'] + '_' + $index }}"
										id="{{ formControl['model'] + '_' + $index }}"
										ng-model="formGeneratorVm.templateModel[formControl['model']]['index']"
										value="{{ option['value'] }}"
										ng-change="formGeneratorVm.clearOtherInput([formControl['model'], 'index'], option['value'])">
								{{ option['label'] }}
								<!-- Display With field -->
								<span ng-if="option['with'] != undefined && formGeneratorVm.templateModel[formControl['model']]['index'] == option['value']">
									<span ng-repeat="sub in option['with']">
										<span ng-if="sub['type'] == 'text' || sub['type'] == 'number' || sub['type'] == 'email' || sub['type'] == 'text' || sub['type'] == 'date'" ng-class="formControl.container_attributes['class']">
											<input type="{{ sub['type'] }}"
													name="{{ sub['model'] }}_with"
													id="{{ sub['model'] }}_with"
													ng-model="formGeneratorVm.templateModel[formControl['model']][formControl['model']]['with_value'][sub['model']]"
													ng-focus="formGeneratorVm.setWithRadio([formControl['model'], formControl['model']], option['value'])"
													input-attributes
													custom-attributes="option['with']['attributes']"
													placeholder="{{ option['label'] }}">
										</span>

										<span ng-if="sub['type'] == 'select'" ng-class="sub.container_attributes['class']">
											<label for="{{sub['model']}}">
												{{ sub['label'] }}
											</label>
											<select name="{{ sub['model'] }}_with"
													id="{{ sub['model'] }}_with"
													ng-model="formGeneratorVm.templateModel[formControl['model']]['with_value'][sub['model']]"
													ng-class="sub['attributes']['class']"
													placeholder="{{ sub['label'] }}"
													ng-options="option['value'] as option['label'] for option in formGeneratorVm.templateValues[sub['model']]"
													ng-focus="formGeneratorVm.setWithRadio([formControl['model']], option['value'])"
													input-attributes
													custom-attributes="sub['attributes']">
											</select>
										</span><!-- /If type is select -->

										<!-- If type is radio&other (inside radio&other) -->
										<span ng-if="sub['type'] == 'radio&other'" ng-class="sub.container_attributes['class']">
											<div>
												<label for="">
													{{ sub['label'] }}
												</label>
												<label ng-repeat="option in formGeneratorVm.templateValues[sub['model']]"
														ng-class="sub['attributes']['class']">
													<input type="radio"
															name="{{ sub['model'] + '_' + $index }}"
															id="{{ sub['model'] + '_' + $index }}"
															ng-model="formGeneratorVm.templateModel[formControl['model']][sub['model']]['index']"
															value="{{ option['value'] }}"
															ng-change="formGeneratorVm.clearOtherInput([formControl['model'], sub['model'], 'index'], option['value'])">
													{{ option['label'] }}
												</label>

												<label for="{{ sub['model'] }}_other"
														ng-class="sub['attributes']['class']">
													<input type="radio"
															name="{{ sub['model'] }}_other"
															id="{{ sub['model'] }}_other"
															ng-model="formGeneratorVm.templateModel[formControl['model']][sub['model']]['index']"
															value="{{ sub['model'] }}_other"
															ng-change="formGeneratorVm.setOtherRadio([formControl['model'], sub['model']], sub['model'] + '_other')"
															ng-checked="(formGeneratorVm.templateModel[sub['model']]['other_value'])">
													Other
													<input type="text"
															name="{{ sub['model'] }}_other"
															id="{{ sub['model'] }}_other"
															ng-model="formGeneratorVm.templateModel[formControl['model']][sub['model']]['other_value']"
															ng-focus="formGeneratorVm.setOtherRadio([formControl['model'], sub['model']], sub['model'] + '_other')"
															placeholder="Other {{ sub['label'] }}">
												</label>
											</div>
										</span><!-- If type is radio&other (inside radio&other) -->
									</span>
								</span>
							</label>

							<label for="{{ formControl['model'] }}_other"
									ng-class="formControl['attributes']['class']">
								<input type="radio"
										name="{{ formControl['model'] }}_other"
										id="{{ formControl['model'] }}_other"
										ng-model="formGeneratorVm.templateModel[formControl['model']]['index']"
										value="{{ formControl['model'] }}_other"
										ng-change="formGeneratorVm.setOtherRadio([formControl['model'], formControl['model']], formControl['model'] + '_other')"
										ng-checked="(formGeneratorVm.templateModel[formControl['model']]['other_value'])">
								Other
								<input type="text"
										name="{{ formControl['model'] }}_other"
										id="{{ formControl['model'] }}_other"
										ng-model="formGeneratorVm.templateModel[formControl['model']]['other_value']"
										ng-focus="formGeneratorVm.setOtherRadio([formControl['model']], formControl['model'] + '_other')"
										placeholder="Other {{ formControl['label'] }}">
							</label>
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div> <!-- /If type is radio&other -->

						<!-- If type is checkbox -->
						<div ng-if="formControl['type'] == 'checkbox'"
								ng-class="formControl.container_attributes['class']">
							<label>
								{{ formControl['label'] }}
							</label>
							<label ng-repeat="option in formGeneratorVm.templateValues[formControl['model']]"
										ng-class="formControl['attributes']['class']"
										input-attributes
										custom-attributes="formControl['attributes']">
								<input type="{{formControl['type']}}"
										name="{{ formControl['model'] + '_' + $index }}"
										id="{{ formControl['model'] + '_' + $index }}"
										ng-model="formGeneratorVm.templateModel[formControl['model']][option['value']]"
										value="{{ option['value'] }}">
								{{ option['label'] }}
							</label>
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div> <!-- /If tpye is checkbox -->

						<!-- If type is radio -->
						<div ng-if="formControl['type'] == 'radio'"
								ng-class="formControl.container_attributes['class']">
							<label>
								{{ formControl['label'] }}
							</label>
							<label ng-repeat="option in formGeneratorVm.templateValues[formControl['model']]"
										ng-class="formControl['attributes']['class']"
										input-attributes
										custom-attributes="formControl['attributes']">
								<input type="{{formControl['type']}}"
										name="{{ formControl['model'] + '_' + $index }}"
										id="{{ formControl['model'] + '_' + $index }}"
										ng-model="formGeneratorVm.templateModel[formControl['model']]"
										value="{{ option['value'] }}"
 >
								{{ option['label'] }}
							</label>
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div> <!-- /If tpye is radio -->

						<!-- If type is file -->
						<div ng-if="formControl['type'] == 'file'"
								ng-class="formControl.container_attributes['class']">

							<label for="{{ formControl['model'] }}">
								{{ formControl['label'] }}
							</label>
							<input type="{{ formControl['type'] }}" 
									name="{{ formControl['model'] }}"
									id="{{ formControl['model'] }}"
									ng-model="formGeneratorVm.templateModel[formControl['model']]" ng-class="formControl['attributes']['class']"
									input-attributes
									custom-attributes="formControl['attributes']">
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div> <!-- /If type is file -->

						<!-- If type is files (multiple files)-->
						<div ng-if="formControl['type'] == 'files'"
								ng-class="formControl.container_attributes['class']">

							<label for="{{ formControl['model'] }}">
								{{ formControl['label'] }}
							</label>
							<input type="file" 
									name="{{ formControl['model'] }}"
									id="{{ formControl['model'] }}"
									ng-model="formGeneratorVm.templateModel[formControl['model']]"
									ng-class="formControl['attributes']['class']"
									multiple
									input-attributes
									custom-attributes="formControl['attributes']">
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div> <!-- /If type is files (multiple files) -->

						<!-- If type is file with preview -->
						<div ng-if="formControl['type'] == 'file&preview'"
								ng-class="formControl.container_attributes['class']">

							<label for="{{ formControl['model'] }}">
								{{ formControl['label'] }}
							</label>
							<input type="file" 
									name="{{ formControl['model'] }}"
									id="{{ formControl['model'] }}"
									ng-model="formGeneratorVm.templateModel[formControl['model']]"
									ng-class="formControl['attributes']['class']"
									input-attributes
									custom-attributes="formControl['attributes']">
							<div class="file-preview-container" ng-if="formGeneratorVm.templateModel[formControl['model']]">
								<div class="file-preview">
									<img ng-src="{{formGeneratorVm.templateModel[formControl['model']]}}">
								</div>
							</div>
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div> <!-- /If type is file with preview -->

						<!-- If type is multiple files with preview -->
						<div ng-if="formControl['type'] == 'files&preview'"
								ng-class="formControl.container_attributes['class']">

							<label for="{{ formControl['model'] }}">
								{{ formControl['label'] }}
							</label>
							<input type="file" 
									name="{{ formControl['model'] }}"
									id="{{ formControl['model'] }}"
									ng-model="formGeneratorVm.templateModel[formControl['model']]"
									ng-class="formControl['attributes']['class']"
									multiple
									input-attributes
									custom-attributes="formControl['attributes']">
							<div class="file-preview-container" ng-if="formGeneratorVm.templateModel[formControl['model']]">
								<div class="file-preview" ng-repeat="image in formGeneratorVm.templateModel[formControl['model']]">
									<img ng-src="{{image}}">
								</div>
							</div>
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div> <!-- /If type is file with preview -->

						<!-- If type is textarea -->
						<div ng-if="formControl['type'] == 'textarea'"
								ng-class="formControl.container_attributes['class']">
							<label for="{{ formControl['model'] }}">
								{{ formControl['label'] }}
							</label>
							<textarea name="{{ formControl['model'] }}" 
								id="{{ formControl['model'] }}" 
								ng-class="formControl['attributes']['class']"
								ng-model="formGeneratorVm.templateModel[formControl['model']]"
								input-attributes
								custom-attributes="formControl['attributes']"
								cols="30" 
								rows="10"
								placeholder="{{ column['label'] }}">
							</textarea>
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div> <!-- /If type is textarea -->

						<!-- If type is repeater -->
						<div ng-if="formControl['type'] == 'repeater'" ng-class="formControl.container_attributes['class']">
							<label for="">
								{{ formControl['label'] }}
							</label>
							<button type="button" class="btn btn-xs btn-warning" ng-click="formGeneratorVm.repeaterAddItem(formControl['model'], formControl)">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</button>
							<button type="button" class="btn btn-xs btn-danger" ng-click="formGeneratorVm.repeaterRemoveItem(formControl['model'], formControl)" ng-if="formControl['count'] >= 1">
								<span class="glyphicon glyphicon-minus-sign"></span>
							</button>

							<div ng-repeat="count in formGeneratorVm.range(0, formControl['count'], 1)" class="row"
								ng-class="formControl.container_attributes['class']">
								<div ng-repeat="column in formGeneratorVm.templateValues[formControl['model']]" 
									class="col-sm-4">
									<!-- If type is text -->
									<div ng-if="column['type'] == 'text' || column['type'] == 'number' || column['type'] == 'email' || column['type'] == 'date'">
										<label for="{{column['model']}}">
											{{ count + 1 }} . {{ column['label'] }}
										</label>
										<input type="{{column['type']}}" 
												name="{{ [column['model']][count] }}"
												id="{{ [column['model']][count] }}"
												ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]"
												ng-class="column['attributes']['class']"
												placeholder="{{ column['label'] }}" input-attributes
												custom-attributes="formControl['attributes']">
									</div><!-- If type is text -->

									<!-- If type is select -->
									<div ng-if="column['type'] == 'select'" ng-class="column.container_attributes['class']">
										<label for="{{column['model']}}">
											{{ column['label'] }}
										</label>
										<select name="{{column['model']}}"
												id="{{column['model']}}"
												ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]"
												ng-class="column['attributes']['class']"
												placeholder="{{ column['label'] }}"
												ng-options="option['value'] as option['label'] for option in formGeneratorVm.templateValues[column['model']]"
												input-attributes
												custom-attributes="column['attributes']">
										</select>
										<div class="field-errors-container" ng-if="column['errors'].length > 0">
											<p ng-repeat="error in column['errors']">
												{{ error }}
											</p>
										</div>
									</div><!-- /If type is select -->

									<!-- If type is radio&other -->
									<div ng-if="column['type'] == 'radio&other'"
											ng-class="column.container_attributes['class']">
											<label>
												{{ count + 1 }} . {{ column['label'] }}
											</label>
										<label ng-repeat="option in formGeneratorVm.templateValues[column['model']]"
												ng-class="column['attributes']['class']"
												input-attributes
												custom-attributes="column['attributes']">
											<input type="radio"
													name="{{ column['model'] + '_' + $index }}"
													id="{{ column['model'] + '_' + $index }}"
													ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]['index']"
													value="{{ option['value'] }}"
													ng-change="formGeneratorVm.clearOtherInput([formControl['model'], column['model'], count, 'index'], option['label'])">
											{{ option['label'] }}
											<!-- Display With field -->
											<span ng-if="option['with'] != undefined && formGeneratorVm.templateModel[formControl['model']][column['model']][count]['index'] == option['value']">
												<span ng-repeat="sub in option['with']">
													<span ng-if="sub['type'] == 'text' || sub['type'] == 'number' || sub['type'] == 'email' || sub['type'] == 'text' || sub['type'] == 'date'" ng-class="column.container_attributes['class']">
														<input type="{{ sub['type'] }}"
																name="{{ sub['model'] }}_with"
																id="{{ sub['model'] }}_with"
																ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]['with_value'][sub['model']]"
																ng-focus="formGeneratorVm.setWithRadio([formControl['model'], column['model'], count], option['value'])"
																input-attributes
																custom-attributes="option['with']['attributes']"
																placeholder="{{ option['label'] }}">
													</span>

													<span ng-if="sub['type'] == 'select'" ng-class="sub.container_attributes['class']">
														<label for="{{sub['model']}}">
															{{ sub['label'] }}
														</label>
														<select name="{{ sub['model'] }}_with"
																id="{{ sub['model'] }}_with"
																ng-model="formGeneratorVm.templateModel[column['model']]['with_value'][sub['model']]"
																ng-class="sub['attributes']['class']"
																placeholder="{{ sub['label'] }}"
																ng-options="option['value'] as option['label'] for option in formGeneratorVm.templateValues[sub['model']]"
																ng-focus="formGeneratorVm.setWithRadio([formControl['model'],column['model']], option['value'])"
																input-attributes
																custom-attributes="sub['attributes']">
														</select>
													</span><!-- /If type is select -->
												</span>
											</span>
										</label>

										<label for="{{ column['model'] }}_other"
												ng-class="column['attributes']['class']">
											<input type="radio"
													name="{{ column['model'] }}_other"
													id="{{ column['model'] }}_other"
													ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]['index']"
													value="{{ column['model'] }}_other"
													ng-change="formGeneratorVm.setOtherRadio([formControl['model'], column['model'], count], column['model'] + '_other')"
													ng-checked="(formGeneratorVm.templateModel[column['model']]['other_value'])">
											Other
											<input type="text"
													name="{{ column['model'] }}_other"
													id="{{ column['model'] }}_other"
													ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]['other_value']"
													ng-focus="formGeneratorVm.setOtherRadio([formControl['model'],column['model'], count], column['model'] + '_other')"
													placeholder="Other {{ column['label'] }}">
										</label>
										<div class="field-errors-container" ng-if="column['errors'].length > 0">
											<p ng-repeat="error in column['errors']">
												{{ error }}
											</p>
										</div>
									</div> <!-- /If type is radio&other -->

									<!-- If type is textarea -->
									<div ng-if="column['type'] == 'textarea'"
											ng-class="column.container_attributes['class']">
										<label for="{{ column['model'] }}">
											{{ column['label'] }}
										</label>
										<textarea name="{{ column['model'] }}" 
											id="{{ column['model'] }}" 
											ng-class="column['attributes']['class']"
											ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]" input-attributes
											custom-attributes="formControl['attributes']"
											cols="30"
											placeholder="{{ column['label'] }}"
											rows="4">
										</textarea>
									</div> <!-- /If type is textarea -->
								</div>
							</div>
							<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
								<p ng-repeat="error in formControl['errors']">
									{{ error }}
								</p>
							</div>
						</div><!-- If type is repeater -->
			
					</div> <!-- /Tab Controls Loop -->
				</div> <!-- /Tab Loop -->
			</div> <!-- /Tab Content -->
			<div class="nav-footer-btns-container">
				<button type="button" class="btn btn-md btn-primary" ng-click="formGeneratorVm.previous()">&laquo; Previous</button>
				<button type="button" class="btn btn-md btn-primary pull-right" ng-click="formGeneratorVm.next(formGeneratorVm.template[formGeneratorVm.currentTabIndex - 1])" ng-if="formGeneratorVm.currentTabIndex < formGeneratorVm.template.length">Next &raquo;</button>
				<button type="submit" class="btn btn-md btn-warning pull-right" ng-if="formGeneratorVm.currentTabIndex == formGeneratorVm.template.length">Submit &raquo;</button>
			</div>
		</form><!-- /Form -->
	</div> <!-- /Tabbed form container -->

	<!-- /Single Form Container -->
	<div ng-if="formGeneratorVm.formType == 'single'" class="form-single">
		<form ng-submit="formGeneratorVm.submit($event)" name="gen_ng_form" enctype="multipart/form-data" novalidate>
			<div ng-repeat="formControl in formGeneratorVm.template">
				<!-- If type is legend -->
				<div ng-if="formControl['type'] == 'legend'" ng-class="formControl.container_attributes['class']">
					<p ng-class="formControl['attributes']['class']">
						{{ formControl['label'] }}
						{{ formGeneratorVm.templateModel[formControl['model']] }}
					</p>
				</div><!-- /If type is legend -->

				<!-- If type is text -->
				<div ng-if="formControl['type'] == 'text' || formControl['type'] == 'number' || formControl['type'] == 'email' || formControl['type'] == 'date'" ng-class="formControl.container_attributes['class']"
				ng-if="formControl['is_shown']">
					<label for="{{formControl['model']}}">
						{{ formControl['label'] }}
					</label>
					<input type="{{formControl['type']}}" 
							name="{{formControl['model']}}"
							id="{{formControl['model']}}"
							ng-model="formGeneratorVm.templateModel[formControl['model']]"
							ng-class="formControl['attributes']['class']"
							placeholder="{{ formControl['label'] }}"
							input-attributes
							custom-attributes="formControl['attributes']">
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div><!-- /If type is text -->

				<!-- If type is select -->
				<div ng-if="formControl['type'] == 'select'" ng-class="formControl.container_attributes['class']">
					<label for="{{formControl['model']}}">
						{{ formControl['label'] }}
					</label>
					<select name="{{formControl['model']}}"
							id="{{formControl['model']}}"
							ng-model="formGeneratorVm.templateModel[formControl['model']]"
							ng-class="formControl['attributes']['class']"
							placeholder="{{ formControl['label'] }}"
							ng-options="option['value'] as option['label'] for option in formGeneratorVm.templateValues[formControl['model']]"
							input-attributes
							custom-attributes="formControl['attributes']">
					</select>
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div><!-- /If type is select -->

				<!-- If type is button -->
				<div ng-if="formControl['type'] == 'button'" ng-class="formControl.container_attributes['class']">
					<button name="{{formControl['model']}}"
							id="{{formControl['model']}}"
							ng-class="formControl['attributes']['class']"
							ng-bind="formControl['label']"
							type="{{ formControl['type'] }}"
							input-attributes
							custom-attributes="formControl['attributes']">
					</button>
				</div><!-- /If type is button -->

				<!-- If type is radio&other -->
				<div ng-if="formControl['type'] == 'radio&other'"
						ng-class="formControl.container_attributes['class']">
						<label>
							{{ formControl['label'] }}
						</label>
					<label ng-repeat="option in formGeneratorVm.templateValues[formControl['model']]"
							ng-class="formControl['attributes']['class']"
							input-attributes
							custom-attributes="formControl['attributes']">
						<input type="radio"
								name="{{ formControl['model'] + '_' + $index }}"
								id="{{ formControl['model'] + '_' + $index }}"
								ng-model="formGeneratorVm.templateModel[formControl['model']]['index']"
								value="{{ option['value'] }}"
								ng-change="formGeneratorVm.clearOtherInput(formControl['model'])">
						{{ option['label'] }}
						<!-- Display With field -->
						<span ng-if="option['with'] != undefined">
							<span ng-repeat="sub in option['with']">
								<span ng-if="sub['type'] == 'text' || sub['type'] == 'number' || sub['type'] == 'email' || sub['type'] == 'text' || sub['type'] == 'date'" ng-class="formControl.container_attributes['class']">
									<input type="{{ sub['type'] }}"
											name="{{ sub['model'] }}_with"
											id="{{ sub['model'] }}_with"
											ng-model="formGeneratorVm.templateModel[formControl['model']]['with_value'][$index]"
											ng-focus="formGeneratorVm.setWithRadio(formControl['model'], option['value'])"
											input-attributes
											custom-attributes="option['with']['attributes']"
											placeholder="{{ option['label'] }}">
								</span>

								<span ng-if="sub['type'] == 'select'" ng-class="sub.container_attributes['class']">
									<label for="{{sub['model']}}">
										{{ sub['label'] }}
									</label>
									<select name="{{ sub['model'] }}_with"
											id="{{ sub['model'] }}_with"
											ng-model="formGeneratorVm.templateModel[formControl['model']]['with_value'][$index]"
											ng-class="sub['attributes']['class']"
											placeholder="{{ sub['label'] }}"
											ng-options="option['value'] as option['label'] for option in formGeneratorVm.templateValues[sub['model']]"
											ng-focus="formGeneratorVm.setWithRadio(formControl['model'], option['value'])"
											input-attributes
											custom-attributes="sub['attributes']">
									</select>
								</span><!-- /If type is select -->
					</label>

					<label for="{{ formControl['model'] }}_other"
							ng-class="formControl['attributes']['class']">
						<input type="radio"
								name="{{ formControl['model'] }}_other"
								id="{{ formControl['model'] }}_other"
								ng-model="formGeneratorVm.templateModel[formControl['model']]['index']"
								value="{{ formControl['model'] }}_other"
								ng-change="formGeneratorVm.setOtherRadio(formControl['model'])"
								ng-checked="(formGeneratorVm.templateModel[formControl['model']]['other_value'])">
						Other
						<input type="text"
								name="{{ formControl['model'] }}_other"
								id="{{ formControl['model'] }}_other"
								ng-model="formGeneratorVm.templateModel[formControl['model']]['other_value']"
								ng-focus="formGeneratorVm.setOtherRadio(formControl['model'])"
								placeholder="Other {{ formControl['label'] }}">
					</label>
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div> <!-- /If type is radio&other -->

				<!-- If type is checkbox -->
				<div ng-if="formControl['type'] == 'checkbox'"
						ng-class="formControl.container_attributes['class']">
					<label>
						{{ formControl['label'] }}
					</label>
					<label ng-repeat="option in formGeneratorVm.templateValues[formControl['model']]"
								ng-class="formControl['attributes']['class']"
								input-attributes
								custom-attributes="formControl['attributes']">
						<input type="{{formControl['type']}}"
								name="{{ formControl['model'] + '_' + $index }}"
								id="{{ formControl['model'] + '_' + $index }}"
								ng-model="formGeneratorVm.templateModel[formControl['model']][option['value']]"
								value="{{ option['value'] }}">
						{{ option['label'] }}
					</label>
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div> <!-- /If tpye is checkbox -->

				<!-- If type is radio -->
				<div ng-if="formControl['type'] == 'radio'"
						ng-class="formControl.container_attributes['class']">
					<label>
						{{ formControl['label'] }}
					</label>
					<label ng-repeat="option in formGeneratorVm.templateValues[formControl['model']]"
								ng-class="formControl['attributes']['class']"
								input-attributes
								custom-attributes="formControl['attributes']">
						<input type="{{formControl['type']}}"
								name="{{ formControl['model'] + '_' + $index }}"
								id="{{ formControl['model'] + '_' + $index }}"
								ng-model="formGeneratorVm.templateModel[formControl['model']]"
								value="{{ option['value'] }}"
	>
						{{ option['label'] }}
					</label>
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div> <!-- /If tpye is radio -->

				<!-- If type is file -->
				<div ng-if="formControl['type'] == 'file'"
						ng-class="formControl.container_attributes['class']">

					<label for="{{ formControl['model'] }}">
						{{ formControl['label'] }}
					</label>
					<input type="{{ formControl['type'] }}" 
							name="{{ formControl['model'] }}"
							id="{{ formControl['model'] }}"
							ng-model="formGeneratorVm.templateModel[formControl['model']]" ng-class="formControl['attributes']['class']"
							input-attributes
							custom-attributes="formControl['attributes']">
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div> <!-- /If type is file -->

				<!-- If type is files (multiple files)-->
				<div ng-if="formControl['type'] == 'files'"
						ng-class="formControl.container_attributes['class']">

					<label for="{{ formControl['model'] }}">
						{{ formControl['label'] }}
					</label>
					<input type="file" 
							name="{{ formControl['model'] }}"
							id="{{ formControl['model'] }}"
							ng-model="formGeneratorVm.templateModel[formControl['model']]"
							ng-class="formControl['attributes']['class']"
							multiple
							input-attributes
							custom-attributes="formControl['attributes']">
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div> <!-- /If type is files (multiple files) -->

				<!-- If type is file with preview -->
				<div ng-if="formControl['type'] == 'file&preview'"
						ng-class="formControl.container_attributes['class']">

					<label for="{{ formControl['model'] }}">
						{{ formControl['label'] }}
					</label>
					<input type="file" 
							name="{{ formControl['model'] }}"
							id="{{ formControl['model'] }}"
							ng-model="formGeneratorVm.templateModel[formControl['model']]"
							ng-class="formControl['attributes']['class']"
							input-attributes
							custom-attributes="formControl['attributes']">
					<div class="file-preview-container" ng-if="formGeneratorVm.templateModel[formControl['model']]">
						<div class="file-preview">
							<img ng-src="{{formGeneratorVm.templateModel[formControl['model']]}}">
						</div>
					</div>
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div> <!-- /If type is file with preview -->

				<!-- If type is textarea -->
				<div ng-if="formControl['type'] == 'textarea'"
						ng-class="formControl.container_attributes['class']">
					<label for="{{ formControl['model'] }}">
						{{ formControl['label'] }}
					</label>
					<textarea name="{{ formControl['model'] }}" 
						id="{{ formControl['model'] }}" 
						ng-class="formControl['attributes']['class']"
						ng-model="formGeneratorVm.templateModel[formControl['model']]"
						input-attributes
						custom-attributes="formControl['attributes']"
						cols="30" 
						rows="10"
						placeholder="{{ column['label'] }}">
					</textarea>
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div> <!-- /If type is textarea -->

				<!-- If type is repeater -->
				<div ng-if="formControl['type'] == 'repeater'" ng-class="formControl.container_attributes['class']">
					<label for="">
						{{ formControl['label'] }}
					</label>
					<button type="button" class="btn btn-xs btn-warning" ng-click="formGeneratorVm.repeaterAddItem(formControl['model'], formControl)">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</button>
					<button type="button" class="btn btn-xs btn-danger" ng-click="formGeneratorVm.repeaterRemoveItem(formControl['model'], formControl)" ng-if="formControl['count'] >= 1">
						<span class="glyphicon glyphicon-minus-sign"></span>
					</button>

					<div ng-repeat="count in formGeneratorVm.range(0, formControl['count'], 1)" class="row"
						ng-class="formControl.container_attributes['class']">
						<div ng-repeat="column in formGeneratorVm.templateValues[formControl['model']]" 
							class="col-sm-3">

							<!-- If type is text -->
							<div ng-if="column['type'] == 'text' || column['type'] == 'number' || column['type'] == 'email' || column['type'] == 'date'">
								<label for="{{column['model']}}">
									{{ count + 1 }} . {{ column['label'] }}
								</label>
								<input type="{{column['type']}}" 
										name="{{ [column['model']][count] }}"
										id="{{ [column['model']][count] }}"
										ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]"
										ng-class="column['attributes']['class']"
										placeholder="{{ column['label'] }}" input-attributes
										custom-attributes="formControl['attributes']">
							</div><!-- If type is text -->

							<!-- If type is select -->
							<div ng-if="column['type'] == 'select'" ng-class="column.container_attributes['class']">
								<label for="{{column['model']}}">
									{{ column['label'] }}
								</label>
								<select name="{{column['model']}}"
										id="{{column['model']}}"
										ng-model="formGeneratorVm.templateModel[column['model']]"
										ng-class="column['attributes']['class']"
										placeholder="{{ column['label'] }}"
										ng-options="option['value'] as option['label'] for option in formGeneratorVm.templateValues[column['model']]"
										input-attributes
										custom-attributes="column['attributes']">
								</select>
								<div class="field-errors-container" ng-if="column['errors'].length > 0">
									<p ng-repeat="error in column['errors']">
										{{ error }}
									</p>
								</div>
							</div><!-- /If type is select -->

							<!-- If type is radio&other -->
							<div ng-if="column['type'] == 'radio&other'"
									ng-class="column.container_attributes['class']">
									<label>
										{{ column['label'] }}
									</label>
								<label ng-repeat="option in formGeneratorVm.templateValues[column['model']]"
										ng-class="column['attributes']['class']"
										input-attributes
										custom-attributes="column['attributes']">
									<input type="radio"
											name="{{ column['model'] + '_' + $index }}"
											id="{{ column['model'] + '_' + $index }}"
											ng-model="formGeneratorVm.templateModel[column['model']]['index']"
											value="{{ option['value'] }}"
											ng-change="formGeneratorVm.clearOtherInput(column['model'])">
									{{ option['label'] }}
									<!-- Display With field -->
									<span ng-if="option['with'] != undefined">
										<span ng-repeat="sub in option['with']">
											<span ng-if="sub['type'] == 'text' || sub['type'] == 'number' || sub['type'] == 'email' || sub['type'] == 'text' || sub['type'] == 'date'" ng-class="column.container_attributes['class']">
												<input type="{{ sub['type'] }}"
														name="{{ sub['model'] }}_with"
														id="{{ sub['model'] }}_with"
														ng-model="formGeneratorVm.templateModel[column['model']]['with_value'][$index]"
														ng-focus="formGeneratorVm.setWithRadio(column['model'], option['value'])"
														input-attributes
														custom-attributes="option['with']['attributes']"
														placeholder="{{ option['label'] }}">
											</span>

											<span ng-if="sub['type'] == 'select'" ng-class="sub.container_attributes['class']">
												<label for="{{sub['model']}}">
													{{ sub['label'] }}
												</label>
												<select name="{{ sub['model'] }}_with"
														id="{{ sub['model'] }}_with"
														ng-model="formGeneratorVm.templateModel[column['model']]['with_value'][$index]"
														ng-class="sub['attributes']['class']"
														placeholder="{{ sub['label'] }}"
														ng-options="option['value'] as option['label'] for option in formGeneratorVm.templateValues[sub['model']]"
														ng-focus="formGeneratorVm.setWithRadio(column['model'], option['value'])"
														input-attributes
														custom-attributes="sub['attributes']">
												</select>
											</span><!-- /If type is select -->
								</label>

								<label for="{{ column['model'] }}_other"
										ng-class="column['attributes']['class']">
									<input type="radio"
											name="{{ column['model'] }}_other"
											id="{{ column['model'] }}_other"
											ng-model="formGeneratorVm.templateModel[column['model']]['index']"
											value="{{ column['model'] }}_other"
											ng-change="formGeneratorVm.setOtherRadio(formControl['model'])"
											ng-checked="(formGeneratorVm.templateModel[column['model']]['other_value'])">
									Other
									<input type="text"
											name="{{ column['model'] }}_other"
											id="{{ column['model'] }}_other"
											ng-model="formGeneratorVm.templateModel[column['model']]['other_value']"
											ng-focus="formGeneratorVm.setOtherRadio(column['model'])"
											placeholder="Other {{ column['label'] }}">
								</label>
								<div class="field-errors-container" ng-if="column['errors'].length > 0">
									<p ng-repeat="error in column['errors']">
										{{ error }}
									</p>
								</div>
							</div> <!-- /If type is radio&other -->

							<!-- If type is textarea -->
							<div ng-if="column['type'] == 'textarea'"
									ng-class="column.container_attributes['class']">
								<label for="{{ column['model'] }}">
									{{ column['label'] }}
								</label>
								<textarea name="{{ column['model'] }}" 
									id="{{ column['model'] }}" 
									ng-class="column['attributes']['class']"
									ng-model="formGeneratorVm.templateModel[formControl['model']][column['model']][count]" input-attributes
									custom-attributes="formControl['attributes']"
									cols="30"
									placeholder="{{ column['label'] }}"
									rows="4">
								</textarea>
							</div> <!-- /If type is textarea -->
						</div>
					</div>
					<div class="field-errors-container" ng-if="formControl['errors'].length > 0">
						<p ng-repeat="error in formControl['errors']">
							{{ error }}
						</p>
					</div>
				</div><!-- If type is repeater -->
			</div>
			<div class="form-group text-right nav-footer-btns-container">
				<button type="submit" class="btn btn-md btn-warning">Submit &raquo;</button>
			</div>
		</form>
	</div>
</div>